.App {
  text-align: center;
  background-color: cornsilk;
}


.App-header {
  background-color: lightsteelblue;
  height: 50px;
  padding: 20px;
  color: #454545;
  font-size: 40px;
  text-align: center;
}

.App-footer {
  background-color: lightsteelblue;
  height: 50px;
}
.App-link {
  color: #61dafb; 
}


